<div class="container mt-3">
  <h2>Bem vindos ao Jogo Espiões!</h2>
  O jogo foi
  baseado no jogo <a href="http://ludopedia.com.br/jogo/codenames">Codinomes</a> do autor Vlaada Chävatil. Neste jogo,
  dois times de espiões tentam localizar seus agentes que estão espalhados num mundo de informações. O
  primeiro time a identificar seus agentes, vence!


  <h3 class="mt-4">Para os professores</h3>
  O jogo foi desenvolvido na Universidade Federal de Santa Catarina para ser uma ferramenta de ensino lúdica. A ideia do
  jogo é que os estudantes exercitem as relações entre conceitos aprendidos de forma mais natural. <br>
  O mais interessante acontece ao final do jogo, quando os estudantes começam a naturalmente discutir as relações que
  fizeram entre os conceitos. Nossos resultados mostram que os estudantes gostam da discussão e do aprofundamento nos
  conceitos após o jogo. <br>
  No momento, o jogo conta com apenas algumas disciplinas. Se você tem interesse em contribuir com o jogo, envie um
  e-mail para <a href="emailto:d.girardi@ufsc.br">d.girardi@ufsc.br</a> . A inclusão de novas disciplinas e conteúdos é
  simples e indolor.
</div>
